 <div class="container mt-5 mb-5">
        <h1 class="text-primary">My App Chat</h1>
        <div class="mt-5" id="messages"></div>
        
        <form class="mt-3" onsubmit="return addMessage(this)">
        <input type="text" id="username" placeholder="Tu Nombre" />
        <input type="text" id="texto" placeholder="Tu mensaje..." />
        <input type="submit" class="btn btn-primary" value="Enviar" />
        </form>

    </div>
   

   
